.container {
  width: 1500px;
  height: 800px;
  background-image: url(../resources/Banner\ Image.png);
  /* background-position: center; */
  background-repeat: no-repeat;
  margin: 0 auto;
  border-radius: 16px;
  position: relative;
  background-size: cover;
}
.banner-title {
  color: white;
  text-align: center;
  font-family: "Merriweather", serif;
  font-size: 32px;
  font-style: normal;
  font-weight: 400;
}
.banner-content {
  color: white;
  text-align: center;
  font-family: "Merriweather", serif;
  font-size: 72px;
  font-style: normal;
  font-weight: 900;
  line-height: 95px; /* 131.944% */
}
.banner-text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
  text-align: center;
  font-size: 72px;
  font-weight: bold;
}
.black-overlay {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.7);
  opacity: 0.5;
  z-index: 0;
}
.happy-new-year {
  margin: 50px;
  align-items: center;
  justify-items: center;
  text-align: center;
}
.off {
  color: #f00;
  text-align: center;
  font-family: "Inter", sans-serif;
  font-size: 88px;
  font-style: normal;
  font-weight: 700;
}
.our {
  color: #f00;
  text-align: center;
  font-family: "Inter", sans-serif;
  font-size: 24px;
  font-style: normal;
  font-weight: 500;
}
.all {
  color: #070211;
  text-align: center;
  font-family: "Inter", sans-serif;
  font-size: 48px;
  font-style: normal;
  font-weight: 700;
}
.midnight {
  background-image: url(../resources/Vectorrr.png);
  background-color: linear-gradient(90deg, #070211 0%, rgba(7, 2, 17, 0) 100%);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  padding: 100px;
  display: flex;
  justify-items: center;
  align-items: center;
  text-align: left;
  gap: 250px;
  justify-content: space-around;
  margin: 100px;
  border-radius: 25px;
}
.party {
  color: #fff;
  font-family: "Merriweather";
  font-size: 64px;
  font-style: normal;
  font-weight: bolder;
  letter-spacing: 7.04px;
}
.dolor {
  color: rgba(255, 255, 255, 0.8);
  font-family: "Inter";
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 30px; /* 166.667% */
}
.join {
  color: #fff;
  text-align: left;
  font-family: "Inter";
  font-size: 20px;
  font-style: normal;
  font-weight: 700;

  text-transform: uppercase;
}
.welcome {
  padding: 50px;
}
.red {
  color: #f00;
  font-family: "Inter";
  font-size: 32px;
  font-style: normal;
  font-weight: 600;
}
.place {
  color: #070211;
  font-family: Inter;
  font-size: 32px;
  font-style: normal;
  font-weight: 600;
  line-height: 22px;
  text-transform: capitalize;
}
.location {
  text-align: center;
  margin: 100px;
  background-image: linear-gradient(
    180deg,
    rgba(255, 0, 0, 0.1) 0%,
    rgba(255, 0, 0, 0) 100%
  );
  padding: 100px;
  border-radius: 25px;
  box-shadow: 10px;
}
.button {
  padding: 16px 32px;
  justify-content: center;
  border-radius: 8px;
  background: #f00;
  color: #fff;
  font-size: 24px;
  margin-top: 50px;
}
.circle {
  display: flex;
  /* width: 100%; */
  gap: 50px;
  padding: 100px;
  /* margin: auto; */
  align-items: center;
  justify-content: center;
  justify-items: center;
  /* text-align: center; */
  margin-top: 100px;
}
.left-1 {
  width: 30%;
  /* height: 600px; */
}
.middle {
  /* width: 30%; */
  /* height: 400px; */
  margin: auto;
  text-align: center;
  border-radius: 100%;
  border: 15px solid #f00;
  padding: 50px;
  background: #fff;
}
.right-1 {
  width: 30%;
  /* height: 600px; */
}

.new {
  color: #f00;
  text-align: left;
  font-family: "Inter";
  font-size: 24px;
  font-style: normal;
  font-weight: 500;
}
.come {
  color: #070211;
  font-family: "Merriweather";
  font-size: 48px;
  font-style: normal;
  font-weight: 900;

  text-transform: capitalize;
}
.circle-left {
  color: rgba(7, 2, 17, 0.6);
  font-family: "Inter";
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 32px; /* 160% */
}
.Ellipse {
  align-items: center;
  justify-content: center;
  text-align: center;
  margin: auto;
  /* border-radius: 100%; */
  /* width: 400px; */
  /* height: 400px; */
}
.right {
  color: #f00;
  font-family: "Inter";
  font-size: 48px;
  font-style: normal;
  font-weight: 700;
}
.circle-right {
  color: rgba(7, 2, 17, 0.6);
  font-family: "Inter";
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 32px; /* 160% */
}
.right-1 img {
  margin-top: 150px;
}
/* section 3 */
.sale {
  padding: 100px;
  /* margin-top: 100px; */
}
.what {
  align-items: center;
  text-align: center;
}
.fun {
  color: #070211;
  font-family: "Inter";
  font-size: 24px;
  font-style: normal;
  font-weight: 500;
}
.holiday {
  color: #f00;
  text-align: center;
  font-family: "Merriweather";
  font-size: 72px;
  font-style: normal;
  font-weight: 900;
}
.holiday-sale {
  color: #070211;
  font-family: "Merriweather";
  font-size: 72px;
  font-style: normal;
  font-weight: 900;
}
.holi-para {
  color: rgba(7, 2, 17, 0.6);
  text-align: center;
  font-family: "Inter";
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: 32px; /* 160% */
}
.lady {
  position: relative;
}
.lady-2 {
  display: flex;
  justify-content: space-between;
  /* align-items: center; */
  /* text-align: center; */
  /* margin-bottom: ; */
}
.red-bar {
  width: 100%;
  margin-top: 0;
}
.dis {
  position: absolute;
  z-index: 1;
  left: -25%;
  top: 25%;
}
.red-girl {
  position: relative;
  width: 600px;
  height: 600px;
}
.red-dis {
  position: relative;
  bottom: 0;
  margin-bottom: 0;
  height: 600px;
}
.box {
  position: relative;
  bottom: -20px;
  width: 50%;
  height: 600px;
}
.box-1 {
  position: absolute;
  bottom: -150px;
}
/* section 4 */
.THE {
  margin-top: 100px;
  padding: 100px;
}
.the-best {
  color: #f00;
  font-family: "Inter";
  font-size: 24px;
  font-style: normal;
  font-weight: 500;
}
.our-awesome {
  color: #070211;
  font-family: "Merriweather";
  font-size: 48px;
  font-style: normal;
  font-weight: 900;
  text-transform: capitalize;
}
.bag {
  color: rgba(7, 2, 17, 0.6);
  font-family: "Inter";
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 32px; /* 160% */
}
.items-image {
  display: flex;
  gap: 25px;
  flex-wrap: wrap;
  width: 100%;
  align-items: center;
  justify-content: center;
}
.items-image img {
  width: 30%;
}
.best {
  text-align: left;
  padding: 60px;
}
/* section 5 */
.letter-5 {
  margin: 100px;
  padding: 100px;
  background: rgba(255, 0, 0, 0.05);
}
.user {
  display: flex;
  align-items: center;
  justify-content: center;
}
.email {
  align-items: center;
  text-align: center;
  border-radius: 16px;
}
.subscribe {
  color: #070211;
  text-align: center;
  font-family: "Merriweather";
  font-size: 48px;
  font-style: normal;
  font-weight: 900;

  text-transform: capitalize;
}
.sub-para {
  color: rgba(7, 2, 17, 0.6);
  text-align: center;
  font-family: "Inter";
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 32px; /* 160% */
}
.sub {
  border-radius: 0px 50px 50px 0px;
  background: #f00;
  padding: 20px;
  color: #fff;
}
.in {
  border-radius: 50px 0px 0px 50px;
  background: #fff;
  padding: 20px 50px;
}
/* footer  */
.black {
  background: #070211;
  padding: 150px;
}
.footer-left-column {
  display: flex;
  justify-content: space-between;
  justify-items: center;
  align-items: center;
}
.big {
  color: #fff;
  font-family: Inter;
  font-size: 24px;
  font-style: normal;
  font-weight: 500;
  line-height: 40px; /* 166.667% */
}
.num {
  color: #fff;
  font-family: "Inter";
  font-size: 24px;
  font-style: normal;
  font-weight: 500;
  line-height: 40px; /* 166.667% */
}
.call {
  display: flex;
  align-items: center;
  justify-items: center;
}
.call img {
  width: 25px;
  height: 25px;
}
.icons {
  align-items: center;
  justify-items: center;
  justify-content: center;
  display: flex;
  gap: 20px;
  padding: 30px;
}
.footer-right-column {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.all {
  color: #fff;
  font-family: "Inter";
  font-size: 24px;
  font-style: normal;
  font-weight: 500;
}
