.container {
  width: 1500px;
  height: 800px;
  background-image: url(../resources/Banner\ Image.png);
  /* background-position: center; */
  background-repeat: no-repeat;
  margin: 0 auto;
  border-radius: 16px;
  position: relative;
  background-size: cover;
}
.banner-title {
  color: white;
  text-align: center;
  font-family: "Merriweather", serif;
  font-size: 32px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.banner-content {
  color: white;
  text-align: center;
  font-family: "Merriweather", serif;
  font-size: 72px;
  font-style: normal;
  font-weight: 900;
  line-height: 95px; /* 131.944% */
}
.banner-text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
  text-align: center;
  font-size: 72px;
  font-weight: bold;
}
.black-overlay {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.7);
  opacity: 0.5;
  z-index: 0;
}
.happy-new-year {
  margin: 50px;
  align-items: center;
  justify-items: center;
  text-align: center;
}
.off {
  color: #f00;
  text-align: center;
  font-family: "Inter", sans-serif;
  font-size: 88px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}
.our {
  color: #f00;
  text-align: center;
  font-family: "Inter", sans-serif;
  font-size: 24px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}
.all {
  color: #070211;
  text-align: center;
  font-family: "Inter", sans-serif;
  font-size: 48px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}
.midnight {
  background-image: url(../resources/Vectorrr.png);
  background-color: linear-gradient(90deg, #070211 0%, rgba(7, 2, 17, 0.00) 100%);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  padding: 100px;
  display: flex;
  justify-items: center;
  align-items: center;
  text-align: left;
  gap: 250px;
  justify-content: space-around;
}
.party {
  color: #fff;
  font-family: "Merriweather";
  font-size: 64px;
  font-style: normal;
  font-weight: bolder;
  letter-spacing: 7.04px;
}
.dolor {
  color: rgba(255, 255, 255, 0.8);
  font-family: "Inter";
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 30px; /* 166.667% */
}
.join {
  color: #fff;
  text-align: left;
  font-family: "Inter";
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  text-transform: uppercase;
}
.welcome{
  padding: 50px;
}
